[submodule "mescc/nyacc"]
	path = mescc/nyacc
	url = https://git.savannah.nongnu.org/git/nyacc.git
[submodule "stage0/stage0-posix"]
	path = stage0/stage0-posix
	url = https://github.com/oriansj/stage0-posix
[submodule "mescc/mes"]
	path = mescc/mes
	url = git://git.savannah.gnu.org/mes.git
[submodule "tcc/tcc"]
	path = tcc/tcc
	url = https://repo.or.cz/tinycc.git
