[submodule "stage0-posix"]
	path = stage0/src
	url = https://github.com/oriansj/stage0-posix
[submodule "nyacc"]
	path = mescc/nyacc
	url = https://git.savannah.nongnu.org/git/nyacc.git
[submodule "tcc/mes-m2"]
	path = mescc/mes-m2
	url = https://github.com/oriansj/mes-m2
